@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: aliceblue;
  height: 100vh;
  padding: 3rem;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.poke-search {
  width: 20%;
  padding: 0.5rem;
  border-color: rgba(65, 105, 225, 0.356);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 9999;
}

.search > span {
  background-color: rgba(65, 105, 225, 0.356);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 30px;
  padding: 0.2rem;
}

.fa-solid {
  font-size: 1rem;
}

.poke-container {
  background-color: azure;
  border: 1px solid rgba(65, 105, 225, 0.356);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 400px;
  margin-top: 25%;
  position: relative;
  min-width: 40%;
  box-shadow: 0 2px 5px 5px rgba(0,0,0,0.47);
  -webkit-box-shadow: 0 2px 5px 5px rgba(0,0,0,0.47);
  -moz-box-shadow: 0 2px 5px 5px rgba(0,0,0,0.47);
  padding: 1rem;
}

.line {
  display: block;
  border-bottom: 1px solid rgba(65, 105, 225, 0.356);
  width: 80%;
}

.poke-img {
  width: 70%;
  height: 80%;
  position: absolute;
  top: -10rem;
}

h4 {
  text-align: center;
}

.attributes {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.moves > ul {
  list-style: none;
  text-align: start;
}

#search {
  cursor: pointer;
  font-size: 1.5rem;
}

.error {
  font-size: 12px;
  color: firebrick;
  display: none;
}



